{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="/docs/product/cloudlink/" role="button">了解更多</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-sm">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">开源、透明</h2>
          <p>开源解决方案提供详尽的部署文档，可在社区中提供有限的技术支持。相关开源软件由社区提供更新，源代码开放可控透明，可以结合自身需要自由配置。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">免费的方案</h2>
          <p>开源解决方案完全免费（包括文档），同时提供免费、有限的技术支持。您可按照文档自行部署，无需支付任何费用。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">超低的基础设施成本</h2>
          <p>最低仅需30元/月，解决原本需要上万元SD-WAN才能拥有的互通能力，预算不足也可以解决问题。</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">开源硬件支持</h2>
          <p>支持常见的Linux开发板、路由器硬件，例如香橙派Orange Pi R1 Plus LTS、友善之臂NanoPi R2S/R4S、竞斗云等，也可根据自身需要自行移植到其他平台。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">多种形态支持</h2>
          <p>开源方案与商业方案均支持多种形态，包括但不限于ARM、x86_64平台上的Linux、OpenWRT、虚拟机、裸金属，可轻松集成到现有基础设施中。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">场景丰富</h2>
          <p>目前可支持混合云、分支机构（分公司）间互联、远程办公、办公网与数据中心互通、云专线等场景，更多场景还在挖掘。</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">vCPE自动部署*</h2>
          <p>即插即用，vCPE通网之后支持控制器自动下发配置，绑定设备后即可打通网络。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">兼容原有网络*</h2>
          <p>客户侧无需改动原有网络，vCPE可以根据需要完成各种接入模式的调整。
            IDC侧支持支持快速开通，支持BGP、BGP EVPN、MPLS VPN、VLAN等多种接入方式，更多场景可定制。</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">自研数据面*</h2>
          <p>基于Noise密码学框架自研数据面，加密满足联邦信息处理标准并优于IPSec，支持服务器匿名、更多场景通用性、分布式组网等。
            支持丢包率和RTT测量，网络不佳时可自动切换，提高SLA。</p>
        </div>
      </div>
      <br><br>
      <div class="text-center">
        * 为商业化产品和解决方案所提供的特性，需付费。<br>
        更多高级特性，详见<strong>产品</strong>及<strong>解决方案</strong>页。
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
